* {
  margin: 0;
  padding: 0;
}

@media (max-width: 320px) {
	
 /* .container {
  display: flex;
  flex-wrap: wrap;
  width: 480px;	
  }
*/

.page_title {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-image: url("https://raw.githubusercontent.com/Dreamdrom/Ramman/master/img/football_767.jpg");
  background-position: center;
  background-size: cover;  
  max-width: 100%;
  z-index: 1; 
  border: 1px solid red;
}  
.page_title::after {
  content: "";
  background-color: #171739;
  position: absolute;
  opacity: 0.9;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
  
.logo_surface{
  position: relative;
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3.2vh; 
  z-index: 1; 
}
  
.header__slogan {
  /*display: flex;
  flex-direction: column;*/
  position: relative;
  z-index: 1; 
  font-weight: 800;
  text-transform: uppercase;
  color: white;	
 
}
  
.header__slogan1 {
  text-align: left;
  font-size: 9vw;
  font-family: 'OpenSans-Bold', Arial, sans-serif;
  font-weight: 700;
  margin-left: 5vw;
  margin-top: 10vh;
  z-index: 1; 
}
  
.header__slogan2 {
  font-size: 9.2vw;
  font-family: 'OpenSans-Bold', Arial, sans-serif;
  font-weight: 700;
  margin-left: 12vw;
  margin-right: 1vw;
  margin-top: 1.5vh;
  margin-bottom: 5vh;
  z-index: 1; 
}

.program_download {
  position: relative;
  z-index: 1; 
  margin-bottom: 5vh;
  }
  
  .download_button {
    display:flex;
    flex:row; 
    margin:0 5% 0 5%;
  }
  
  .download_block {
    display:flex;
    flex:column; 
    display: inline;
    flex-direction: column;
    border: 1px solid green;
  }
  
.button{ 
  width: 85vw;
  height: 3.0vh;
  margin-top: 1.2vh;
  background-color: #5e42b0;
  border-radius: 1.5vh;
  text-transform: uppercase;
  font-family: 'OpenSans', Arial, sans-serif;
  font-size: 12px;
  font-weight: 800;
  color: #ffffff;
  border-width: 0;
  }
  .button:focus {
  background-color: #b062d0;
  }
  
  .apple__google_icon {
    fill: #ffffff;
    width: 25px;
    height: 25px;
    left: 150px;
  }

  
  .download {
    display: inline;
    width: 200 px;
    border: 1px solid green;
    
  }
 /*.download-shop {
    display: inline;
    width: 100 px;
    border: 1px solid green; 
  }*/

.headline,
.headline2 {
  text-transform: uppercase;
  font-family: 'OpenSans-Bold', Arial, sans-serif;
  font-size: 12vw;
  color: #E7E7E7; 
  margin-top: 25px;
  margin-left: 20px; 
}

  
.picture1 {
  display: block;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 15px;
  width: 60%;   
  border: 1px solid red;
}
.picture2 {
  display:block;
  margin:auto;
  width: 95%;   
  border: 1px solid red;
}
  
.picture,
.picture7,
.picture8, {
  display:block;
  margin:auto;
  width: 50%;   /* какая-то ерунда пролучается*/ 
  border: 1px solid red;
}
  
.page,
.page3 {
  display: flex;
  flex-direction: column;
}
  
  .information-block1{
    padding-top: 5vw; 
    border: 1px solid red;
  }
   .information-block2{
    padding-top: 15vw; 
    background-color: #F4F3F8;
    border: 1px solid red;
  }
  .information-block3{
    padding-top: 15vw; 
    background-color: #5C3DB2;
    border: 1px solid red;
  }
    
  .information-block4{
    padding-top: 5vw; 
    border: 1px solid red;
  }
  .information-block6{
    padding-top: 15vw; 
    background-color: #080A33;
    border: 1px solid red;
  }
  .information-block7{
    position: relative;
    padding-top: 0px; 
    background-color: #ffffff;
    border: 1px solid green;
  }
  
.information-title,
.information-title4 {
  display: inline-block;
  border: 1px solid green;
  }
  
.information-current,
.information-current4 {
 display: inline-block;  
 font-family: 'OpenSans-Bold', Arial, sans-serif;
 font-size: 4.5vw;
 font-weight: 800;
 vertical-align: top;
 margin-left: 2.5vw;
  } 
.information-current::after {
  content: "";
  display: block;
  background-color: #5e42b0;
  position: absolute;
  left: 0;
  margin: auto;
  width: 6.5vw;
  height: 3px;
  margin-left: 2.5vw;
  }
.information-current4::after {  /*Почему не получается записать .information-current,  .information-current4? */
  content: "";
  display: block;
  background-color: #5e42b0;
  position: absolute;
  left: 0;
  margin: auto;
  width: 6.5vw;
  height: 3px;
  margin-left: 2.5vw;
  }
  
  .information-current3{
 display: inline-block;  
 font-family: 'OpenSans-Bold', Arial, sans-serif;
 font-size: 4.5vw;
 font-weight: 800;
 vertical-align: top;
 margin-left: 2.5vw;
  }  
.information-current3::after {
  content: "";
  display: block;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  margin: auto;
  width: 6.5vw;
  height: 3px;
  margin-left: 2.5vw;
  }
 
  .information-current6{
 position: relative;
 display: inline-block;  
 font-family: 'OpenSans-Bold', Arial, sans-serif;
 font-size: 4.5vw;
 font-weight: 800;
 color: #6651B0;
 vertical-align: top;
 margin-left: 2.5vw;
  }  
.information-current6::after {
  content: "";
  display: block;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  margin: auto;
  width: 6.5vw;
  height: 3px;
  margin-left: 0vw;
  }
  
  .information-current7{
 position: absolute;
 background-color: #5C3DB2;
 color: #ffffff;
 display: inline-block;  
 font-family: 'OpenSans-Bold', Arial, sans-serif;
 font-size: 4.5vw;
 font-weight: 800;
 text-align: center;
 margin-left: 2.5vw;
 width: 70px;
 height: 70px;
 left: 7px;
 bottom: 125px;

  } 
.information-current7::after {
  content: "";
  display: block;
  background-color: #8D74C7;
  position: absolute;
  align: center;
  left: 11px;
  margin: auto;
  width: 6.5vw;
  height: 3px;
  margin-left: 2.5vw;
  }
  
.information-list-item{
  display: inline-block;
  text-transform: uppercase;
  font-family: 'OpenSans-Bold', Arial, sans-serif;
  font-size: 7vw;
  font-weight: 700;
  color: #C1C1C1; 
  padding-left: 3px;
 }
.information-list-item7{
  text-transform: uppercase;
  font-family: 'OpenSans-Bold', Arial, sans-serif;
  font-size: 7vw;
  font-weight: 700;
  color: #C1C1C1; 
  padding-left: 12px;
  padding-top; 7px;
  border: 1px solid blue;
 }
  
  .information-list-text, 
  .information-list-text4,
  .information-list-text7 {
   display: inline-block;
   font-family: 'OpenSans-Regular', Arial, sans-serif;
   font-size: 4.5vw;
   font-weight: 600;
   padding-top: 5vw;
   padding-bottom: 12vw;
   padding-left: 5vw;
   padding-right: 5vw;
   border: 1px solid blue;
  }
  .information-list-text3, 
  .information-list-text6 {
   color: #ffffff;
   display: inline-block;
   font-family: 'OpenSans-Regular', Arial, sans-serif;
   font-size: 4.5vw;
   font-weight: 600;
   padding-top: 5vw;
   padding-bottom: 12vw;
   padding-left: 5vw;
   padding-right: 5vw;
   border: 1px solid blue;
  }
  

.end_page_title {
  background-image: url("https://raw.githubusercontent.com/Dreamdrom/Ramman/master/img/game_767.jpg");
  background-position: center;
  background-size: cover;  
  max-width: 100%;
  position: relative;
}  

.end_page_title::after {
  content: "";
  background-color: #171739;
  position: absolute;
  opacity: 0.9;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.small_logo_surface{
  position: relative;
  z-index: 1; 
  fill: #ffffff;
  width: 21vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12vh;  
  background-color: #5e42b0;
  border-radius: 1.5vh;
}

.footer__slogan {
  /*display: flex;
  flex-direction: column;*/
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 1; 
  font-weight: 800;
  text-transform: uppercase;
  color: white;	
  border: 1px solid blue;
}
  
.footer__slogan1 {
  text-align: center;
  font-size: 8vw;
  font-family: 'OpenSans-Bold', Arial, sans-serif;
  font-weight: 800;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12vh;
  border: 1px solid blue;
}
  
.footer__slogan2 {
  text-align: center;
  font-size: 4vw;
  font-family: 'OpenSans-Bold', Arial, sans-serif;
  font-weight: 800;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5vh;
  margin-bottom: 10vh;
  border: 1px solid blue;
}  
  
}



@media (min-width: 321px) and (max-width: 768px) {
	
 /* .container {
  display: flex;
  flex-wrap: wrap;
  width: 480px;	
  }
*/

.page_title {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-image: url("https://raw.githubusercontent.com/Dreamdrom/Ramman/master/img/football_767.jpg");
  background-position: center;
  background-size: cover;  
  max-width: 100%;
  z-index: 1; 
  border: 1px solid red;
}  
.page_title::after {
  content: "";
  background-color: #171739;
  position: absolute;
  opacity: 0.9;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
  
.logo_surface{
  position: relative;
  width: 30vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3.2vh; 
  z-index: 1; 
}
  
.header__slogan {
  /*display: flex;
  flex-direction: column;*/
  position: relative;
  z-index: 1; 
  font-weight: 800;
  text-transform: uppercase;
  color: white;	
 
}
  
.header__slogan1 {
  text-align: left;
  font-size: 8.0vw;
  font-family: 'OpenSans-Bold', Arial, sans-serif;
  font-weight: 700;
  margin-left: 10vw;
  margin-top: 15vh;
  z-index: 1; 
}
  
.header__slogan2 {
  font-size: 8.5vw;
  font-family: 'OpenSans-Bold', Arial, sans-serif;
  font-weight: 700;
  margin-left: 25vw;
  margin-right: 1vw;
  margin-top: 1.5vh;
  margin-bottom: 5vh;
  z-index: 1; 
}

.program_download {
  display:flex;
  position: relative;
  z-index: 1; 
  margin-bottom: 10vh;
  border: 1px solid red;
  }
  
.download_button {
    display:flex;
    margin:0 5% 0 5%;
  border: 1px solid red;
  }
  
.download_block {
    display:flex;
    flex:row; 
    border: 1px solid green;
    display: inline;
    flex-direction: column;
    border: 1px solid green;
  }
  
.button{ 
  width: 35vw;
  height: 7vh;
  margin-top: 15.2vh;
  background-color: #5e42b0;
  border-radius: 3.5vh;
  text-transform: uppercase;
  font-family: 'OpenSans', Arial, sans-serif;
  font-size: 12px;
  font-weight: 800;
  color: #ffffff;
  border-width: 0;
  }
  .button:focus {
  background-color: #b062d0;
  }
  
  .apple__google_icon {
    fill: #ffffff;
    width: 25px;
    height: 25px;
    left: 150px;
    
  }
  
  .download {
    display: inline;
    width: 200 px;
    border: 1px solid green;
    
  }
 /*.download-shop {
    display: inline;
    width: 100 px;
    border: 1px solid green; 
  }*/
  
    
.page,
.page3 {
  display: flex;
  flex-direction: column;
  /*margin-left: 33.0vw;*/
  border: 1px solid yellow;
}

.headline {
  text-transform: uppercase;
  font-family: 'OpenSans-Bold', Arial, sans-serif;
  font-size: 11vw;
  color: #E7E7E7;
  margin-top: 39px;
  margin-left: 35.5vw;
}
.headline2 {
  text-transform: uppercase;
  font-family: 'OpenSans-Bold', Arial, sans-serif;
  font-size: 11vw;
  color: #E7E7E7;
  margin-top: 39px;
  margin-left: 3vw;
}
  
.picture1 {
  position: absolute;
  margin-left: -20vw;
  margin-top: -88px;
  margin-bottom: 15px;
  width: 63%;   
  border: 1px solid red;
}
.picture2 {
  position: absolute;
  /*float: right;*/
  margin-left: 43.5vw;
  margin-top: -120px;
  width: 55%;   
  border: 1px solid red;
}
.picture,
.picture7,
.picture8, {
  border: 1px solid red;
  width: 100%; 
}
  
 .picture8, {
   order: 2;
  }
  
  .information-block1{
    padding-top: 3.5vw; 
    margin-left: 0;
    border: 1px solid green;
  }
   .information-block2{
    padding-top: 3.5vw; 
    margin-left: 0;
    background-color: #F4F3F8;
    background-position: right bottom;
    center 20px
    border: 1px solid red;
  }
  .information-block3{
    padding-top: 3.5vw; 
    background-color: #5C3DB2;
    margin-left: 0vw;
    border: 1px solid red;
  }
  
  .information-block4{
    padding-top: 3.5vw; 
    margin-left: 0;
    border: 1px solid red;
  }
  
  .information-block5{
    padding-top: 3.5vw; 
    margin-left: 0;
    background-color: #F4F3F8;
    background-position: right bottom;
    center 20px
    border: 1px solid red;
  }
  
  .information-block6{
    padding-top: 5vw; 
    background-color: #080A33;
    border: 1px solid red;
  }
  .information-block7{
    position: relative;
    padding-top: 0px; 
    background-color: #ffffff;
    border: 1px solid green;
  }
  
.information-title{
  display: inline-block;
  gorizontal-align: middle;
  border: 1px solid green;
  }
  
.information-title4{
  display: inline-block;
  gorizontal-align: left;
  border: 1px solid green;
  }
  
.information-current{
 display: inline-block;  
 vertical-align: top;
 font-family: 'OpenSans-Bold', Arial, sans-serif;
 font-size: 2.5vw;
 font-weight: 700;
 margin-left: 35.5vw;
  } 
.information-current::after {
  content: "";
  display: block;
  background-color: #5e42b0;
  position: absolute;
  left: 33vw;
  width: 3.5vw;
  height: 5px;
  margin-left: 3.5vw;
  }
  
  .information-current3{
 display: inline-block;  
 vertical-align: top;
 font-family: 'OpenSans-Bold', Arial, sans-serif;
 font-size: 2.5vw;
 font-weight: 700;
 margin-left: 35.5vw;
  }  
.information-current3::after {
  content: "";
  display: block;
  background-color: #ffffff;
  position: absolute;
  left: 32vw;
  width: 3.5vw;
  height: 5px;
  margin-left: 4vw;
  }
 
  .information-current4{
 display: inline-block;  
 vertical-align: top;
 font-family: 'OpenSans-Bold', Arial, sans-serif;
 font-size: 2.5vw;
 font-weight: 700;
 margin-left: 2.5vw;
  } 
.information-current4::after {
  content: "";
  display: block;
  background-color: #5e42b0;
  position: absolute;
  left: 3vw;

  width: 3.5vw;
  height: 5px;
  }
  
  .information-current6{
 position: relative;
 display: inline-block;  
 font-family: 'OpenSans-Bold', Arial, sans-serif;
 font-size: 2.5vw;
 font-weight: 800;
 color: #6651B0;
 vertical-align: top;
 margin-left: 2.5vw;
  }  
.information-current6::after {
  content: "";
  display: block;
  background-color: #ffffff;
  position: absolute;
  left: 0vw;
  width: 3.5vw;
  height: 3px;
  
  }
  
  
  .information-current7{
 position: absolute;
 background-color: #5C3DB2;
 color: #ffffff;
 display: inline-block;  
 font-family: 'OpenSans-Bold', Arial, sans-serif;
 font-size: 3.5vw;
 font-weight: 700;
 text-align: middle;
 margin-left: 2.5vw;
 width: 105px;
 height: 105px;
 left: 7px;
 bottom: 175px;

  } 
.information-current7::after {
  content: "";
  display: block;
  background-color: #8D74C7;
  position: absolute;
  align: center;
  left: 11px;
  margin: auto;
  width: 3.5vw;
  height: 3px;
  }
  
.information-list-item{
  display: inline-block;
  text-transform: uppercase;
  font-family: 'OpenSans-Bold', Arial, sans-serif;
  font-size: 4vw;
  font-weight: 700;
  vertical-align: middle;
  color: #C1C1C1; 
  padding-left: 3px;
 }
.information-list-item7{
  text-transform: uppercase;
  font-family: 'OpenSans-Bold', Arial, sans-serif;
  font-size: 8vw;
  font-weight: 700;
  color: #C1C1C1; 
  padding-left: 12px;
  margin-top: 75px;
  border: 1px solid blue;
 }
  
  .information-list-text{
   display: inline-block;
   font-family: 'OpenSans-Regular', Arial, sans-serif;
   font-size: 18px;
   font-weight: 300;
   line-height: 1.3;
   font-stretch: extra-expanded;
   padding-top: 3vw;
   padding-bottom: 3vw;
   margin-left: 35.5vw;
   padding-right: 5vw;
   border: 1px solid blue;
  }
  
  .information-list-text3{
   color: #ffffff;
   font-family: 'OpenSans-Regular', Arial, sans-serif;
   font-size: 18px;
   font-weight: 300;
   font-stretch: extra-expanded;
   line-height: 1.3;
   padding-top: 3vw;
   padding-bottom: 3vw;
   margin-left: 35.5vw;
   padding-right: 5vw;
   border: 1px solid blue;
  }
  
   .information-list-text4{
   display: inline-block;
   font-family: 'OpenSans-Regular', Arial, sans-serif;
   font-size: 18px;
   font-weight: 300;
   line-height: 1.3;
   font-stretch: extra-expanded;
   padding-top: 3vw;
   padding-bottom: 3vw;
   margin-left: 2.5vw;
   margin-right: 42.5vw;
   padding-right: 5vw;
   border: 1px solid blue;
  }
  
  
   .information-list-text6{
   color: #ffffff;

   font-family: 'OpenSans-Regular', Arial, sans-serif;
   font-size: 18px;
   font-weight: 300;
   font-stretch: extra-expanded;
   line-height: 1.3;
   padding-top: 3vw;
   padding-bottom: 3vw;
   margin-left: 2.5vw;
   padding-right: 45vw;
   border: 1px solid blue;
  }
  
    .information-list-text7{
   font-family: 'OpenSans-Regular', Arial, sans-serif;
   font-size: 23px;
   font-weight: 300;
   font-stretch: extra-expanded;
   line-height: 1.3;
   padding-top: 3vw;
   padding-bottom: 3vw;
   margin-left: 2.5vw;
   padding-right: 2.5vw;
   border: 1px solid blue;
  }
  
  /* ---------------------------------------------------------------------------------*/

.end_page_title {
  background-image: url("https://raw.githubusercontent.com/Dreamdrom/Ramman/master/img/game_767.jpg");
  background-position: center;
  background-size: cover;  
  max-width: 100%;
  position: relative;
  padding-top: 1vw;  
}  

.end_page_title::after {
  content: "";
  background-color: #171739;
  position: absolute;
  opacity: 0.9;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.small_logo_surface{
  position: relative;
  z-index: 1; 
  fill: #ffffff;
  width: 19vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12vw;  
  background-color: #5e42b0;
  border-radius: 2.5vh;
  border: 1px solid green;
}

.footer__slogan {
  /*display: flex;
  flex-direction: column;*/
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 1; 
  font-weight: 800;
  text-transform: uppercase;
  color: white;	
  border: 1px solid blue;
}
  
.footer__slogan1 {
  text-align: center;
  font-size: 8vw;
  font-family: 'OpenSans-Bold', Arial, sans-serif;
  font-weight: 800;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12vh;
  border: 1px solid blue;
}
  
.footer__slogan2 {
  text-align: center;
  font-size: 4vw;
  font-family: 'OpenSans-Bold', Arial, sans-serif;
  font-weight: 800;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5vh;
  margin-bottom: 10vh;
  border: 1px solid blue;
}
  
}






@media (min-width: 769px) {
	
 /* .container {
  display: flex;
  flex-wrap: wrap;
  width: 480px;	
  }
*/

.page_title {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-image: url("https://raw.githubusercontent.com/Dreamdrom/Ramman/master/img/football_1920.jpg");
  background-position: center;
  background-size: cover;  
  max-width: 100%;
  z-index: 1; 
  border: 1px solid red;
}  
.page_title::after {
  content: "";
  background-color: #171739;
  position: absolute;
  opacity: 0.9;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
  
.logo_surface{
  position: relative;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3.2vh; 
  z-index: 1; 
}
  
.header__slogan {
  /*display: flex;
  flex-direction: column;*/
  position: relative;
  z-index: 1; 
  font-weight: 800;
  text-transform: uppercase;
  color: white;	
 
}
  
.header__slogan1 {
  text-align: left;
  font-size: 85px;
  font-family: 'OpenSans-Bold', Arial, sans-serif;
  font-weight: 700;
  margin-left: 200px;
  margin-top: 400px;
  z-index: 1; 
}
  
.header__slogan2 {
  font-size: 90px;
  font-family: 'OpenSans-Bold', Arial, sans-serif;
  font-weight: 700;
  margin-left: 25vw;
  margin-right: 1vw;
  margin-top: 1.5vh;
  margin-bottom: 5vh;
  z-index: 1; 
}

.program_download {
  display:flex;
  position: relative;
  z-index: 1; 
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 220px;
  margin-top: 220px;
  border: 1px solid yellow;
  }
  
.download_button {
  display:flex;
  align-content: flex-center;
  width: 300px;
  margin: 22px;
  border: 1px solid red;
  }
  
.button{ 
  width: 300px;
  height: 70px;
  background-color: #5e42b0;
  border-radius: 35px;
  text-transform: uppercase;
  font-family: 'OpenSans', Arial, sans-serif;
  font-size: 12px;
  font-weight: 800;
  color: #ffffff;
  border-width: 0;
  }
  
  .button:hover {
  background-color: #b062d0;
  }
  .button:focus {
  background-color: #b062d0;
  }
  
  .download_block {
    display:flex;
    align-content: flex-center;

    display: inline;
    flex-direction: column;
    border: 1px solid green;
  }
  
  .apple__google_icon {
    fill: #ffffff;
    position: absolute;
    width: 45px;
    height: 45px;
    margin-left: -50px;
    
  }
  
  .download {
    display: inline;
    width: 200 px;
    margin-left: 5x;
    border: 1px solid green;
  }
    
  .download-shop {
    
    width: 200 px;
    border: 1px solid green;
    
    
  }
 /*.download-shop {
    display: inline;
    width: 100 px;
    border: 1px solid green; 
  }*/
  
    
.page {
  display: flex;
  flex-direction: column;
  border: 1px solid yellow;
}
 .page3 {
 /* display: flex;
  flex-direction: row;
  border: 1px solid yellow;*/
}
  

.headline {
  text-transform: uppercase;
  font-family: 'OpenSans-Bold', Arial, sans-serif;
  font-size: 90px;
  color: #E7E7E7;
  margin-top: 80px;
  margin-left: 1000px;
}
.headline2 {
  text-transform: uppercase;
  font-family: 'OpenSans-Bold', Arial, sans-serif;
  font-size: 80px;
  color: #E7E7E7;
  margin-top: 115px;
  margin-left: 200px;
}
  
.picture1 {
  position: absolute;
  margin-left: 390px;
  margin-top: -150px;
  margin-bottom: 15px;
  width: 33%;   
  border: 1px solid red;
}
.picture2 {
  position: absolute;
  /*float: right;*/
  margin-left: 720px;
  margin-top: -195px;
  width: 60%;   
  border: 1px solid red;
}
.picture {
  border: 1px solid red;
  width: 100%; 
}
.picture7 {
  width: 900px;   
  border: 1px solid red;
}
 .picture8 {
  width: 900px;   
  order: 1;
  border: 1px solid green;
   order: 1;
}
  
  .information-block1{
    padding-top: 55px;
    padding-bottom: 55px;
    padding-left: 1000px;
    border: 1px solid green;
  }
   .information-block2{
    padding-top: 55px;
    padding-left: 1000px;
    background-color: #f5f4fa;
    background-position: right bottom;
    border: 1px solid red;
  }
  .information-block3{
    padding-top: 55px;
    padding-bottom: 45px;
    padding-left: 1000px;
    background-color: #5C3DB2;
    border: 1px solid red;
  }
  
  .information-block4{
    padding-top: 45px;
    padding-bottom: 45px;
    padding-left: 200px;
    border: 1px solid red;
  }
  
  .information-block5{
    padding-top: 45px;
    padding-bottom: 45px;
    padding-left: 200px;
    background-color: #F4F3F8;
    background-position: right bottom;
    border: 1px solid red;
  }
  .information-block6{
    padding-top: 45px;
    padding-bottom: 45px;
    padding-left: 200px;
    background-color: #080A33;
    border: 1px solid red;
  }
  .information-block7{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 780px;
    position: relative;
    padding-top: 0px; 
    background-color: #ffffff;
    border: 1px solid green;
  }
  
.information-title{
  display: inline-block;
  gorizontal-align: middle;
  border: 1px solid green;
  }
  
.information-title4{
  display: inline-block;
  gorizontal-align: left;
  border: 1px solid green;
  }
  
.information-current{
 display: inline-block;  
 vertical-align: top;
 font-family: 'OpenSans-Bold', Arial, sans-serif;
 font-size: 18px;
 font-weight: 700;
 margin-left: 0px;
  } 
.information-current::after {
  content: "";
  display: block;
  background-color: #5e42b0;
  position: absolute;
  left: 1000;
  width: 21px;
  height: 5px;
  margin-left: 0px;
  }
  
  .information-current3{
 display: inline-block;  
 vertical-align: top;
 font-family: 'OpenSans-Bold', Arial, sans-serif;
 font-size: 18px;
 font-weight: 700;
 margin-left: 0px;
  }  
.information-current3::after {
  content: "";
  display: block;
  background-color: #ffffff;
  position: absolute;
  left: 1000;
  width: 21px;
  height: 5px;
  }
 
  .information-current4{
 display: inline-block;  
 vertical-align: top;
 font-family: 'OpenSans-Bold', Arial, sans-serif;
 font-size: 18px;
 font-weight: 700;
  } 
.information-current4::after {
  content: "";
  display: block;
  background-color: #5e42b0;
  position: absolute;
  left: 1000;
  width: 21px;
  height: 5px;
  }
  
  .information-current6 { 
 position: relative;
 display: inline-block;  
 font-family: 'OpenSans-Bold', Arial, sans-serif;
 font-size: 18px;
 font-weight: 700;
 color: #6651B0;
 vertical-align: top;
 margin-left: 0px;
  }  
.information-current6::after {
  content: "";
  display: block;
  background-color: #ffffff;
  position: absolute;
  left: 0vw;
  width: 21px;
  height: 3px;
  
  }
  
  
  .information-current7{
 position: absolute;
 background-color: #5C3DB2;
 color: #ffffff;
 display: inline-block;  
 font-family: 'OpenSans-Bold', Arial, sans-serif;
 font-size: 23px;
 font-weight: 700;
 text-align: middle;
 margin-left: 5px;
 width: 125px;
 height: 125px;
 left: -75px;
 bottom: 50px;

  } 
.information-current7::after {
  content: "";
  display: block;
  background-color: #8D74C7;
  position: absolute;
  align: center;
  left: 1px;
  margin: auto;
  width: 25px;
  height: 3px;
  }
  
  .information-list7 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
    
  } 
  
.information-list-item{
  display: inline-block;
  text-transform: uppercase;
  font-family: 'OpenSans-Bold', Arial, sans-serif;
  font-size: 69px
  font-weight: 700;
  vertical-align: middle;
  color: #C1C1C1; 
  padding-left: 3px;
 }
.information-list-item7{
  text-transform: uppercase;
  font-family: 'OpenSans-Bold', Arial, sans-serif;
  font-size: 42px;
  font-weight: 700;
  color: #C1C1C1; 
  padding-left: 85px;
  margin-top: 75px;
  border: 1px solid blue;
 }
  
  .information-list-text{
   font-family: 'OpenSans-Regular', Arial, sans-serif;
   font-size: 20px;
   font-weight: 300;
   line-height: 1.3;
   font-stretch: extra-expanded;
   padding-top: 30px;
   padding-bottom: 30px;
   margin-left: 0px;
   padding-right: 0px;
   border: 1px solid blue;
  }
  
  .information-list-text3{
   color: #ffffff;
   font-family: 'OpenSans-Regular', Arial, sans-serif;
   font-size: 18px;
   font-weight: 300;
   font-stretch: extra-expanded;
   padding-top: 30px;
   padding-bottom: 30px;
   margin-left: 0px;
   padding-right: 0px;
   border: 1px solid blue;
  }
  
   .information-list-text4{
   display: inline-block;
   width: 700 px;  /* Почему не работает?*/
   font-family: 'OpenSans-Regular', Arial, sans-serif;
   font-size: 20px;
   font-weight: 300;
   line-height: 1.3;
   font-stretch: extra-expanded;
   padding-top: 30px;
   padding-bottom: 30px;
   margin-left: 200px;
     margin-right: 850px;
   border: 1px solid green;
  }
  
  
   .information-list-text6{
   color: #ffffff;
   font-family: 'OpenSans-Regular', Arial, sans-serif;
   font-size: 20px;
   font-weight: 300;
   font-stretch: extra-expanded;
   line-height: 1.3;
   padding-top: 25px;
   padding-bottom: 25px;
   margin-left: 0px;
   padding-right: 45vw;
   border: 1px solid blue;
  }
  
    .information-list-text7{
   font-family: 'OpenSans-Regular', Arial, sans-serif;
   font-size: 20px;
   font-weight: 300;
   font-stretch: extra-expanded;
   line-height: 1.3;
   padding-top: 25px;
   padding-bottom: 25px;
   padding-left: 85px;
   padding-right: 25px;
   border: 1px solid blue;
  }
  
  /* ---------------------------------------------------------------------------------*/

.end_page_title {
  background-image: url("https://raw.githubusercontent.com/Dreamdrom/Ramman/master/img/game_767.jpg");
  background-position: center;
  background-size: cover;  
  max-width: 100%;
  position: relative;
  padding-top: 1vw;  
}  

.end_page_title::after {
  content: "";
  background-color: #171739;
  position: absolute;
  opacity: 0.9;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.small_logo_surface{
  position: absolute;
  z-index: 1; 
  fill: #ffffff;
  width: 175px;
  margin-left: 420px;
  margin-right: auto;
  margin-top: 175px;  
  background-color: #5e42b0;
  border-radius: 25px;
  border: 1px solid green;
}

.footer__slogan {
  /*display: flex;
  flex-direction: column;*/
  margin-left: 650px;
  position: relative;
  z-index: 1; 
  font-weight: 800;
  text-transform: uppercase;
  color: white;	
  border: 1px solid blue;
}
  
.footer__slogan1 {
  font-size: 93px;
  font-family: 'OpenSans-Bold', Arial, sans-serif;
  font-weight: 700;
 
  margin-top: 180px;
  border: 1px solid blue;
}
  
.footer__slogan2 {
  font-size: 36px;
  font-family: 'OpenSans-Bold', Arial, sans-serif;
  font-weight: 500;
  color: #5e42b0;
  margin-bottom: 10vh;
  border: 1px solid blue;
}
  
  .empty_block {
    height: 60px;
    border: 1px solid blue;
  }
  
  
}






  
@font-face {
font-family: 'OpenSans-Regular';
src: url(https://github.com/Dreamdrom/Ramman/blob/master/fonts/OpenSans-Regular.woff);
font-weight: 700;
font-style: normal;
}

@font-face {
font-family: 'OpenSans-Bold';
src: url(https://github.com/Dreamdrom/Ramman/blob/master/fonts/OpenSans-Bold.woff);
font-weight: 700;
font-style: normal;
}
